# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
*.pyc
.env
.venv/
venv/
env/
.vagrant/
# IDE-specific files
.vscode/
.idea/
.spyderproject
.spyproject

# Operating System files
*.log
instance/
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*~
#*#

# Test and coverage
.coverage
.pytest_cache/
.ipynb_checkpoints/

# Web & DB
node_modules/
*.sqlite3